:local(.style) {
  width:100%;
  height:100%;
  
  .loadingStage{
    text-align:center;
  }
  .unfinishtitle{
  	height: 60px;
    line-height: 60px;
    text-align: right;
    font-size:14px;
    font-weight:normal;
    color:#666;
  }
  .tasktitle{
          padding: 8px 7px;
      background: #f79d9d;
      color: #fff;
  }
  .reporttitle{
          padding: 8px 7px;
      background: #479fd4;
      color: #fff;
  }
  .margger{
    width:100%;
    margin-top:10px;
  }
  .row{
    position:relative;
    overflow:hidden;
    top:0;
  }
  .row.hide{
    top:60px;
  }
  .taskcard{
    box-shadow: none !important;
    border:1px solid #E5E5E5;
    & > div:first-child{
      padding-bottom:0 !important;
    }
  	.mainctn{
  		position:relative;
		opacity: 1;
  		transform:translateY(0%);
  	}
  	.mainctn.hidden{
  		opacity: 0;
  		height: 0;
  		padding:0 !important;
  		transform:translateY(-100%);
  	}
  }
  .reportcard{
    box-shadow: none !important;
    border:1px solid #E5E5E5;
    & > div:first-child{
      padding-bottom:0 !important;
    }
  }
  .toolbar{
  	background:#fff !important;

  }

}