:local(.style) {
    .item {
        margin: 10px 20px;
        line-height: 1.8em;
        .borderleft{
            border-left:1px solid #efefef;
        }
        .username{
            padding: 4px 8px;
            background: #b3b3b3;
            border-radius: 5px;
            color: #fff;
        }
        .team {
            margin: 0 16px;
        }
        .inner-item {
            margin: 10px 0;
            border-bottom: 1px dotted #d9d9d9;
            .avatar {
                float: left;
                margin-right: 16px;
            }
            .name {
                line-height: 40px;
                font-weight: bold;
                font-size: 14px;
            }
            .content {
                clear: both;
                padding: 15px 0;
            }
        }
        .not {
            float: right;
            display: flex;
            align-items: center;
            & > * {
                margin-left: 10px;
            }
        }
    }
    .step{
        svg{
            text{
                display:none
            }
            circle{
                fill:#d3d3d3;
            }
        }
        div[icon]{
            border-left: 1px dotted #d4d4d4 !important;
        }
    }

    .tasktitle{
        padding: 7px 10px;
        background: #f78888;
        border-radius: 5px;
        color: #fff;
    }
    .reporttitle{
        padding: 7px 10px;
        background: #6eadd2;
        border-radius: 5px;
        color: #fff;
    }
    .noprogress{
         padding: 4px 8px;
        background: #bab874;
        border-radius: 5px;
        color: #fff;
    }
    .isdelay{
        padding: 4px 8px;
        background: #c17171;
        border-radius: 5px;
        color: #fff;
    }
    .isndelay{
        padding: 4px 8px;
        background: #3ebda6;
        border-radius: 5px;
        color: #fff;
    }
    .clearfix:after{
        content: " "; /* Older browser do not support empty content */
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
}