:local(.style) {

    position: relative;
    h1,h2 {
        height: 56px;
        line-height: 56px;
        background:#fb9d9d;
        color: #fff;
        font-size:24px;
        font-weight:normal;
        font-family:"Microsoft YaHei", "PingFang SC", 仿宋, sans-serif;
        text-align: center;
    }
    .user {
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        .avatar {
            margin:0 10px 0 15px;
            vertical-align: middle;
        }
    }
    .logout {
        width: 236px;
        margin:0 10px;
    }
}